@model dotnetPortalOkta.Models.AppViewModel

@{
    ViewData["Title"] = "My proflie";
}
<script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
<h3>Profile</h3>

<dl class="dl-horizontal">
    <dt>SDK configured?</dt>
    <dd>
        @if (Model.SdkAvailable)
        {
            <span>Yes!</span>
        }
        else
        {
            <span>No. Edit <code>appsettings.json</code> and uncomment the lines that configure the SDK.</span>
        }
    </dd>

    <dt title="Username">
        Username
        <button type="button"
                class="btn btn-link btn-xs"
                aria-label="Copy to clipboard"
                title="Copy to clipboard"
                data-clipboard-target="#userinfo-username">
            <span class="glyphicon glyphicon glyphicon-copy" aria-hidden="true"></span>
        </button>
    </dt>
    <dd id="userinfo-username">@Model.Username</dd>

    @if (Model.SdkAvailable)
    {
        <dt title="Full name">
            Full name
            <button type="button"
                    class="btn btn-link btn-xs"
                    aria-label="Copy to clipboard"
                    title="Copy to clipboard"
                    data-clipboard-target="#userinfo-fullname">
                <span class="glyphicon glyphicon glyphicon-copy" aria-hidden="true"></span>
            </button>
        </dt>
        <dd id="userinfo-fullname">@Model.UserInfo.Profile.FirstName @Model.UserInfo.Profile.LastName</dd>

        <dt title="Applications">
            Applications
            <button type="button"
                    class="btn btn-link btn-xs"
                    aria-label="Copy to clipboard"
                    title="Copy to clipboard"
                    data-clipboard-target="#userinfo-applications">
                <span class="glyphicon glyphicon glyphicon-copy" aria-hidden="true"></span>
            </button>
        </dt>
        <dd id="userinfo-applications">@string.Join(", ", Model.Applications)</dd>
    }

</dl>